<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MolePeopleBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B81FC8261BAE2D8E006B2982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81FC83D1BAE2D8E006B2982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81FC8481BAE2D8E006B2982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
